.swipe {
    max-width: 500px;
    height: 400px;
    position: relative;
    box-sizing: border-box;

    margin: 0 auto;
    border: 2px solid red;

    overflow: hidden;

    z-index: 100;

    &__item {
        position: absolute;

        box-sizing: border-box;

        z-index: 80;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: blue;
        color: #fff;

        &:nth-child(2n) {
            background: pink;
            color: #000;
        }
    }
}